<!-- -*- coding: utf-8 -*- -->
<h1>{{.Filename}}</h1>
Kontonamn: {{.AccName}}<br>
År: {{.Year}}<br>
Månad: {{.Month}}<br>
<p>
  <table style="width:100%">
    <tr>
      <th>Löpnr</th>
      <th>Frånkonto</th>
      <th>Tillkonto</th>
      <th>Typ</th>
      <th>Vad</th>
      <th>Datum</th>
      <th>Vem</th>
      <th>Belopp</th>
      <th>Saldo</th>
      <th>Text</th>
      <th>Fast överföring</th>
    </tr>
    {{range .Transactions}}
    <tr>
      <td>{{.Löpnr}}</td>
      <td>{{.AccName}}</td>
      <td>{{.Dest}}</td>
      <td>{{.Typ}}</td>
      <td>{{.Vad}}</td>
      <td>{{.Datum}}</td>
      <td>{{.Vem}}</td>
      <td align="right"><nobr>{{.Belopp}}</nobr></td>
      <td align="right"><nobr>{{.Saldo}}</nobr></td>
      <td>{{.Text}}</td>
      <td>{{.Fixed}}</td>
    </tr>
    {{end}}
  </table>
  <p>Diagram:</p>
  <svg width="900" height="600">
    {{range .MonthValues}}
    <rect x={{.X}} y={{.Y}} width="{{.Width}}" height="{{.Height}}"  style="fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)" />
    {{end}}
    <rect x=0 y={{.ZeroLine}} width=900 height=1
	  style="fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)" />
    
    {{range .Texts}}
    <text fill="#000000" font-size="12" font-family="Verdana" x="{{.X}}" y="{{.Y}}">{{.Text}}</text>
    {{end}}
    Sorry, your browser does not support inline SVG.
  </svg>
