<!-- //-*- coding: utf-8 -*-  -->
<!--	Inköp -->
<h3>Inköp</h3>
<form hx-post="/hnewtrans" hx-target="#newtrans-div" hx-swap="beforeend">
  <input type="hidden" id="transtyp" name="transtyp" value="Inköp">
  <label for="fromacc">Från:</label>
  <select name="fromacc" id="fromacc">
    {{range .Kontonamn}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    autofocus
  </select>
  <label for="place">Plats:</label>
  <select name="place" id="place">
    {{range .Platser}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="date">Datum:</label>
  <input type="date" id="date" name="date" value="{{.Today}}">
  <label for="what">Vad:</label>
  <select name="what" id="what">
    {{range .VadUtgift}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="who">Vem:</label>
  <select name="who" id="who">
    {{range .Personer}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="amount">Belopp:</label>
  <input type="text" id="amount" name="amount" pattern="[0-9]+([,\.][0-9]+)?">
  <label for="text">Text:</label>
  <input type="text" id="text" name="text" maxlength="60">
  <input type="submit" value="Submit">
</form>

<!--	Insättning  -->
<h3>Insättning</h3>
<form hx-post="/hnewtrans" hx-target="#newtrans-div" hx-swap="beforeend">
  <input type="hidden" id="transtyp" name="transtyp" value="Insättning">
  <label for="toacc">Till:</label>
  <select name="toacc" id="fromacc">
    {{range .Kontonamn}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="date">Datum:</label>
  <input type="date" id="date" name="date" value="{{.Today}}">
  <label for="what">Vad:</label>
  <select name="what" id="what">
    {{range .VadInkomst}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="who">Vem:</label>
  <select name="who" id="who">
    {{range .Personer}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="amount">Belopp:</label>
  <input type="text" id="amount" name="amount" pattern="[0-9]+([,\.][0-9]+)?">
  <label for="text">Text:</label>
  <input type="text" id="text" name="text" maxlength="60">
  <input type="submit" value="Submit">
</form>

<!--	Uttag  -->
<h3>Uttag</h3>
<form hx-post="/hnewtrans" hx-target="#newtrans-div" hx-swap="beforeend">
  <input type="hidden" id="transtyp" name="transtyp" value="Uttag">
  <label for="fromacc">Från:</label>
  <select name="fromacc" id="fromacc">
    {{range .Kontonamn}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="date">Datum:</label>
  <input type="date" id="date" name="date" value="{{.Today}}">
  <label for="who">Vem:</label>
  <select name="who" id="who">
    {{range .Personer}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="amount">Belopp:</label>
  <input type="text" id="amount" name="amount" pattern="[0-9]+([,\.][0-9]+)?">
  <label for="text">Text:</label>
  <input type="text" id="text" name="text" maxlength="60">
  <input type="submit" value="Submit">
</form>

<!--	Överföring  -->
<h3>Överföring</h3>
<form hx-post="/hnewtrans" hx-target="#newtrans-div" hx-swap="beforeend">
  <input type="hidden" id="transtyp" name="transtyp" value="Överföring">
  <label for="fromacc">Från:</label>
  <select name="fromacc" id="fromacc">
    {{range .Kontonamn}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="toacc">Till:</label>
  <select name="toacc" id="toacc">
    {{range .Kontonamn}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="date">Datum:</label>
  <input type="date" id="date" name="date" value="{{.Today}}">
  <label for="who">Vem:</label>
  <select name="who" id="who">
    {{range .Personer}}
    <option value="{{.}}">{{.}}</option>
    {{end}}
    
  </select>
  <label for="amount">Belopp:</label>
  <input type="text" id="amount" name="amount" pattern="[0-9]+([,\.][0-9]+)?">
  <label for="text">Text:</label>
  <input type="text" id="text" name="text" maxlength="60">
  <input type="submit" value="Submit">
</form>

<a href="summary">Översikt</a>
</body>
</html>
