{{define "person_list"}}
<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Födelsedag</th>
            <th>Kön</th>
            <th>Löpnr</th>
        </tr>
    </thead>
    <tbody>
        {{range .People}}
        <tr>
            <td>{{.Namn}}</td>
            <td>{{.Birth}}</td>
            <td>{{.Sex}}</td>
            <td>{{.Lopnr}}</td>
            <td><form method="POST" action="/personer"><input type="hidden" id="lopnr" name="lopnr" value="{{.Lopnr}}"><input type="hidden" id="action" name="action" value="editform"><input type="submit" value="Redigera"></form></td>
            <td><form method="POST" action="/personer"><input type="hidden" id="lopnr" name="lopnr" value="{{.Lopnr}}"><input type="hidden" id="action" name="action" value="radera"><input type="checkbox" id="OK" name="OK" required><label for="OK">OK</label><input type="submit" value="Radera"></form></td></tr>
        </tr>
        {{end}}
    </tbody>
</table>

<form method="POST" action="/personer"><input type="hidden" id="action" name="action" value="addform"><input type="submit" value="Ny person"></form>
{{end}}
