<!-- -*- coding: utf-8 -*- -->
Redigera transaktion, uttag<br>
<form method="POST" action="/transactions">
  <label for="fromAcc">Från konto:</label>
  <select name="fromAcc" id="fromAcc">
    {{range .Kontonamn}}
    <option {{ if eq . $.FromAcc }}selected{{ end }} value="{{.}}">{{.}}</option>
    {{end}}
    autofocus
  </select>
  <input type="hidden" id="toAcc" name="toAcc" value="{{.Dest}}">
  <input type="hidden" id="tType" name="tType" value="{{.Typ}}">
  <label for="date">Datum:</label>
  <input type="date" id="date" name="date" value="{{.Datum}}" title="Datum">
  <input type="hidden" id="what" name="what" value="{{.Vad}}">
  <label for="who">Vem:</label>
  <select name="who" id="who">
    {{range .Personer}}
    <option {{ if eq . $.Vem }}selected{{ end }} value="{{.}}">{{.}}</option>
    {{end}}
  </select>
  <label for="amount">Summa:</label>
  <input type="text" id="amount" name="amount" value="{{.Belopp}}" >
  <label for="fixed">Fast transaktion:</label>
  <input type="text" id="fixed" name="fixed" value="{{.Fixed}}" >
  <label for="comment">Text:</label>
  <input type="text" id="comment" name="comment" value="{{.Text}}" >
  <input type="hidden" id="lopnr" name="lopnr" value="{{.Löpnr}}">
  <input type="hidden" id="action" name="action" value="update">
  <input type="submit" value="Uppdatera">
</form>
<p>

